<div class="footer">
   <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
  </div>
     <div class="contact">
        <h1 style="color:rgb(220, 192, 121)">Contact Us</h1>
        <p>For any inquries, please reach out at: <a href="mailto:dubasimukundh@gmail.com">contact@parijana.com</a></p>
      </div>
      <p>&copy;Parijana</p>
     <div class="f-info-links">
         <a href="/privacy">Privacy</a>
         <a href="/terms">Terms</a>
     </div>
</div>